{% load static %}
{#              <form action="#" method="get" class="u-expanded-width-xs u-search u-search-right u-search-1">#}
{#                    {% if user.is_authenticated%}#}
{#                        <li class="nav-item" style="margin-left: 15px">#}
{#        <a class="nav-link" href="/logout" >Logout</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Welcome, {{user.username}}</a>#}
{#      </li>#}
{#                         {% else %}#}
{#                <a href="../../index/registration.html" style="margin-left: auto" type="submit">Register </a>#}
{#                  <a href="/../../index/login.html" type="submit">Login</a>#}
{#                    {% endif %}#}
{#              </button>#}
{#            </form>#}
          <!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='{% static 'Create-Order.css' %}'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="{% static 'pagination.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

        <div class="sidebar">
    <p class="PI">PI</p><p class="MO">MO</p>
    <a href="../" class="Home" name="btn">Home</a>
    <a href="../My-Orders.html" class="MyOrders" name="btn">My Orders</a>
    <a href="../My-Offers.html" class="MyOffers" name="btn">My Offers</a>
    <a href="" class="CreateOrder" name="btn">Create Order</a>
    <a class="Support" name="btn">Support</a>
    <a class="Contact" name="btn">Contact</a>
    <a class="pimo" name="btn">©2022 PIMO</a>
</div>

<a class = "HomeTitle">Create Order</a>

<div class="social">
    <img class="twitter" src="{% static 'twitter.png' %}">
    <img class="facebook" src="{% static 'facebook.png' %}">
    <img class="vk" src="{% static 'vk.png' %}">
</div>

<img style="width: 40%; margin-left:-10%; margin-top:-10%" src="https://i.pinimg.com/originals/7b/7e/07/7b7e0712e9c23914f938ec7f51cd0951.png" class = "info">

<form method="POST">
<div class="creates">
    <div>
       <p class="name">Enter Title</p>
<input class="title" value="" {{ form.title }}>
</div>
<div>
    <p class="namemax">Enter Max cost</p>
<input class="maxcost" {{ form.max_cost }}>
</div>
<div>
    <p class="deadlines">Enter deadline</p>
<input class = "deadline" type="date" {{ form.deadline }}>
</div>
<div>
    <textarea class="details"></textarea>
    <p class="detail"{{ form.details }} Enter details</p>
    </div>
<input class="butt" type="submit" value="Submit">
</div>
</form>



</body>

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="{% static 'pagination.js' %}"></script>
<script type="text/javascript" src='{% static 'Main-Page.js' %}'></script>
</html>
