{% load static %}
{#                   <form action="#" method="get" class="u-expanded-width-xs u-search u-search-right u-search-1">#}
{#                    {% if user.is_authenticated%}#}
{#                        <li class="nav-item" style="margin-left: 15px">#}
{#        <a class="nav-link" href="/logout" >Logout</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Welcome, {{user.username}}</a>#}
{#      </li>#}
{#                         {% else %}#}
{#                <a href="../../index/registration.html" style="margin-left: auto" type="submit">Register </a>#}
{#                  <a href="/../../index/login.html" type="submit">Login</a>#}
{#                    {% endif %}#}
{#              </button>#}
{#            </form>#}

          <!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='{% static 'My-Offers.css' %}'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="{% static 'pagination.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

        <div class="sidebar">
    <p class="PI">PI</p><p class="MO">MO</p>
    <a href="../" class="Home" name="btn">Home</a>
    <a href="../My-Orders.html" class="MyOrders" name="btn">My Orders</a>
    <a href="" class="MyOffers" name="btn">My Offers</a>
    <a href="../Create-Order.html" class="CreateOrder" name="btn">Create Order</a>
    <a class="Support" name="btn">Support</a>
    <a class="Contact" name="btn">Contact</a>
    <a class="pimo" name="btn">©2022 PIMO</a>
</div>

<a class = "HomeTitle">My Offers</a>

<div class="social">
    <img class="twitter" src="{% static 'twitter.png' %}">
    <img class="facebook" src="{% static 'facebook.png' %}">
    <img class="vk" src="{% static 'vk.png' %}">
</div>

<section class="firstlineorders">
<div class="firstbox">
  <div class="title">User</div>
  <div class="maxcost">Cost:</div>
    <div class="price">2214000</div>
    <div class="User">Title</div>
    <div class="Details">Status:<p class="status">ON</p></div>
    <button class="makeoffer">View order</button>
</div>

    
<div class="secondbox">
  <div class="title">User</div>
  <div class="maxcost">Cost:</div>
    <div class="price">2214000</div>
    <div class="User">Title</div>
    <div class="Details">Status:<p class="status">ON</p></div>
    <button class="makeoffer">View order</button>
    </div>

    <div class="thirdbox">
      <div class="title">User</div>
      <div class="maxcost">Cost:</div>
        <div class="price">2214000</div>
        <div class="User">Title</div>
        <div class="Details">Status:<p class="status">ON</p></div>
        <button class="makeoffer">View order</button>
        </div>

</section>

<section class="secondlineorders">
    <div class="fourthbox">
      <div class="title">User</div>
      <div class="maxcost">Cost:</div>
        <div class="price">2214000</div>
        <div class="User">Title</div>
        <div class="Details">Status:<p class="status">ON</p></div>
        <button class="makeoffer">View order</button>
        </div>

        <div class="fifthbox">
          <div class="title">User</div>
          <div class="maxcost">Cost:</div>
            <div class="price">2214000</div>
            <div class="User">Title</div>
            <div class="Details">Status:<p class="status">ON</p></div>
            <button class="makeoffer">View order</button>
            </div>

    {% for order in orders %}
            <div class="sixbox">
              <div class="title">{{ order.created_by }}</div>
              <div class="maxcost">Cost:</div>
                <div class="price">2214000</div>
                <div class="User">{{ order.title }}</div>
                <div class="Details">Status:<p class="status">{{ order.status }}</p></div>
                <button class="makeoffer">View order</button>
                </div>
            </section>
{% endfor %}
  <ul id="wrapper" class="pagination modal-5">
    <section>
        <div class="data-container"></div>
        <div id="pagination-demo1"></div>

    </section>
  </ul>

</body>

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="{% static 'pagination.js' %}"></script>
<script type="text/javascript" src='{% static 'Main-Page.js' %}'></script>
<script>
$(function() {
  (function(name) {
    var container = $('#pagination-' + name);
    var sources = function () {
      var result = ['Adil'];

      for (var i = 1; i < 196; i++) {
        result.push(i);
      }

      return result;
    }();

    var options = {
      dataSource: sources,
      callback: function (response, pagination) {
        window.console && console.log(response, pagination);

        var dataHtml = '<ul>';

        $.each(response, function (index, item) {
          dataHtml += '<li>' + item + '</li>';
        });

        dataHtml += '</ul>';

        container.prev().html(dataHtml);
      }
    };

    //$.pagination(container, options);

    container.addHook('beforeInit', function () {
      window.console && console.log('beforeInit...');
    });
    container.pagination(options);

    container.addHook('beforePageOnClick', function () {
      window.console && console.log('beforePageOnClick...');
      //return false
    });
  })('demo1');


})

document.addEventListener('DOMContentLoaded', function () {
      const slider = new ChiefSlider('.slider', {
        loop: false
      });
    });

</script>
</html>

          
          
